#titulo{
    color: black;
}
.main_contato{
    width: 100vw;
    height: 85vh;
    display: flex;
}
#container_redes{
    width: 40vw;
    height: 84.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container_form{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 60vw;
    height: 84.5vh;
    border-top: 2px solid white;
    justify-content: center;
    align-items: center;
}
FaLinkedin{
    color: black;
}
.List{
    display: inline;
    padding: 10px;
}
#text_siga{
    margin-bottom: 15px;
}
.icons{
    font-size: 30px;
    color: inherit;
}
#form{
    display: flex;
    flex-direction: column;
}
#title_form{
    color: #fff;
    margin-bottom: 25px;
}
.input_text{
    margin-bottom: 15px;
    padding: 10px;
    width: 400px;
    text-align: center;
    border-radius: 5px;
}
#input_mensagem{
    padding: 25px;
    text-align: center;
    margin-bottom: 20px;
}
#btn{
    padding: 10px;
    border-radius: 5px;
    width: 80px;
    margin: 2px solid #fff;
}
#btn:hover{
    background-color: blue;
    transition: 2s;
    color: #fff;
}
Link{
    color: black;
}